# ==============================================
# MTK Policy Rule
# ==============================================

type hotknot_device, dev_type;
type irrx_device, dev_type;
