# ==============================================
# MTK Policy Rule

# Date : WK16.34
# Operation : Migration
# Purpose : Play tone for alert
allow installd cmas_file:dir { getattr read open search };
allow installd cmas_file:file { getattr read open };
