# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK16.34
# Operation : Migration
# Purpose : Play tone for alert
allow mediacodec cmas_file:dir search;