# ==============================================
# MTK Policy Rule
# ==============================================
# For MAL MFI
allow mtkrild mtkmal:unix_stream_socket connectto;
set_prop(mtkrild, persist_mtk_main_attach)
# For MultiSim dynamic switch
set_prop(mtkrild, usp_prop)
#=============allow Rild ctrl ePDG PDN interface prop=============
set_prop(mtkrild, ril_epdg_interface_ctrl_prop)
