type motorola_hal_powerext, domain;
type motorola_hal_powerext_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(motorola_hal_powerext);

vndbinder_use(motorola_hal_powerext);