#For goodix fingerprint permissions checking
binder_call(system_server, goodixfingerprintd)

allow system_server goodixfingerprintd_service:service_manager find;

# Allow system process to relabel the fingerprint directory after mkdir
allow system_server goodixfingerprintd_data_file:dir {r_dir_perms relabelto};

