# ==============================================
# MTK Policy Rule
# ============

# for SVP secure memory allocation
# Log: avc:  denied  { read } for  pid=4503 comm="screencap" name="secmem0" dev="proc"
allow debuggerd proc_secmem:file r_file_perms;

# Date : 2015/06/12
# Operation: TEEI integration
# Purpose: access for fp device and client device of TEEI
allow debuggerd teei_fp_device:chr_file rw_file_perms;
allow debuggerd teei_client_device:chr_file rw_file_perms;
# Purpose: access for keymaster device of TEEI
allow debuggerd ut_keymaster_device:chr_file rw_file_perms;

#android log much file
allow debuggerd logmuch_data_file:dir search;
allow debuggerd logmuch_data_file:file { read open };

# Date : WK16.21
# Operation : direct coredump enhancement
# Purpose : support abort message dumping
userdebug_or_eng(`
  allow debuggerd coredump_file:dir { remove_name };
  allow debuggerd coredump_file:file { unlink };
')

# Date : WK16.29
# Operation : Migration
# Purpose : Add permission for gpu access
allow debuggerd dri_device:chr_file getattr;

# Date: 2016/10/21
# Operation: aee set atleast 2 cpu online for 5 min atmost
# Purpose: access for PerfService API
allow debuggerd mtk_perf_service:service_manager find;
