# ==============================================
# Policy File of /system/bin/meta_tst Executable File

# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK14.42
# Operation : L Migration
# Purpose : for meta mode driver module operation
#============= meta_tst ==============
allow meta_tst mnld_exec:file rx_file_perms;

# Date: WK14.45
# Operation : Migration
# Purpose : HDCP and DRM key installation
allow meta_tst mobicore:unix_stream_socket connectto;
allow meta_tst mobicore_data_file:dir search;
allow meta_tst mobicore_data_file:file r_file_perms;
allow meta_tst mobicore_user_device:chr_file rw_file_perms;

# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: Microtrust service
allow meta_tst init_thh_service_exec:file { x_file_perms read open };
allow meta_tst teei_data_file:dir create_dir_perms;
allow meta_tst teei_data_file:file rw_file_perms;
allow meta_tst teei_data_file:file create_file_perms;
allow meta_tst teei_client_device:chr_file create_file_perms;
allow meta_tst soter_teei_prop:property_service {set};
allow meta_tst teei_client_device:chr_file rw_file_perms;
allow meta_tst teei_thh_data_file:dir { search write };
allow meta_tst teei_thh_data_file:file create_file_perms;
allow meta_tst teei_thh_data_file:file rw_file_perms;

allow meta_tst camera_tsf_device:chr_file rw_file_perms;
allow meta_tst camera_isp_device:chr_file { read write ioctl open };

# Set properties
set_prop(meta_tst, factory_prop)

