# ==============================================
# Policy File of /system/binmsensord Executable File

# ==============================================
# Type Declaration
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

