# ==============================================
# Policy File of /system/bin/mtk_agpsd Executable File

# Request CDMA network info for CDMA A-GPS
allow mtk_agpsd rilproxy:unix_dgram_socket sendto;

# Send requests (e.g., DNS / Dedicated APN for IR 92) to LocationExt
allow mtk_agpsd system_server:unix_dgram_socket sendto;

