# ==============================================
# Policy File of /system/bin/mtkrild Executable File

# ==============================================
# MTK Policy Rule
# ==============================================

set_prop(mtkrild, persist_service_atci_prop)

